body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

form, #barrow {
  padding-bottom: 0.5em;
}

#barrow, #chartbox, #ladder {
  padding-top: 0.5em;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  /*  reset box sizing for bootstrap 
  http://getbootstrap.com/getting-started/#third-box-sizing */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#gauge {
  min-width: 310px;
  max-width: 400px;
  height: 300px;
  margin: 0 auto
}

.references p {
  padding-left: 22px;
  text-indent: -22px;
}

.disabled {
  opacity: 0.2;
}

.hidden {
  display: none;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}

.tg td.unknown {
  background-color:#ccc;
}

.tg td.same {
    background-color:#fffeed;
}

.tg td.worse {
    background-color:#ffbaba;
}

.tg td.better {
    background-color:#bfffba;
}

.spinner {
    display:    none;
    background: rgba( 255, 255, 255, .8 )
                url('ajax-loader.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .spinner {
    display: block;
}

.inactive {
  opacity: 0.75;
}

.highlight {
  opacity: 1;
/*  border: 1px solid black;*/
}

.casesrc {
  font-weight: bold;
  color: rgb(229, 170, 38);
  border-bottom: 2px solid;
}

.popsrc {
  font-weight: bold;
  color: rgb(119, 190, 222);
  border-bottom: 2px solid;
}

.risksummary {
  font-weight: normal;
/*  font-style: italic;*/
}

#risklist li {
  font-weight: bold;
}

.TKAdjustableNumberHelp {
  color: #ff7d1e;
  padding: 1px;
  background: rgba(255, 255, 255, 0.8);
}
.TKAdjustableNumber {
  padding: 2px;
  color: #fc5f0c;
  background-color: #e6e6e6;
  border: 1px solid #acacac;
/*      border-bottom: none;*/
  margin-right: 2px;
}
.TKAdjustableNumber:hover {
/*      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
}
.TKAdjustableNumber .glyphicon {
  color: #656565;
  padding-left: 0.24em;
}
.TKAdjustableNumber:hover .glyphicon {
  color: #1f1f1f;
}
