body {
  padding-top: 50px;
}

form, #barrow {
  padding-bottom: 0.5em;
}

#chartbox, #ladder {
  padding-top: 0.5em;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  /*  reset box sizing for bootstrap 
  http://getbootstrap.com/getting-started/#third-box-sizing */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#gauge {
  min-width: 310px;
  max-width: 400px;
  height: 300px;
  margin: 0 auto
}

.references p {
  padding-left: 22px;
  text-indent: -22px;
}

.disabled {
  opacity: 0.2;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}

.tg td.unknown {
  background-color:#ccc;
}

.tg td.same {
    background-color:#fffeed;
}

.tg td.worse {
    background-color:#ffbaba;
}

.tg td.better {
    background-color:#bfffba;
}

.spinner {
    display:    none;
}

.spinner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body.loading .spinner {
    display: block;
}

.TKAdjustableNumberHelp {
  color: #ff7d1e;
  padding: 1px;
  background: rgba(255, 255, 255, 0.8);
}
.TKAdjustableNumber {
  padding: 2px;
  color: #fc5f0c;
  background-color: #e6e6e6;
  border: 1px solid #acacac;
/*      border-bottom: none;*/
  margin-right: 2px;
}
.TKAdjustableNumber:hover {
/*      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
}
.TKAdjustableNumber .glyphicon {
  color: #656565;
  padding-left: 0.24em;
}
.TKAdjustableNumber:hover .glyphicon {
  color: #1f1f1f;
}
