<!DOCTYPE html>
<html>

<head>
  <title>Travel risk evaluation</title>

  <meta charset="UTF-8">
  <meta name="description" content="Travel risk evaluator">
  <!--[ REDACTED ]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="static/TangleKit.css" type="text/css">

  <link rel='stylesheet' href='static/style.css' type='text/css'>

  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
        </button>
        <!--            TODO should go to #home-->
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="myNavTabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation">
            <a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
          <li role="presentation">
            <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <h1>Travel Risk Assessment for Zika</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <p class="lead">Where and When</p>
              <div>
                Enter your <strong>destination</strong> and <strong>travel date</strong> to generate a risk assessment:
              </div>
              <form>
<!--
                <label for="destination">
                  Destination:
                </label>
                <br/>
-->
                <input type=text id="destination" size="25" name="destination" title="Destination address" placeholder='e.g. "60613" or "Chicago, IL"' required>
<!--
                <br/>
                <label for="date">
                  Date of travel:
                </label>
                <br/>
-->
                <input type="date" id="date" size="8" name="date" title="Date" pattern="^\d{2}/\d{2}/\d{4}$" placeholder="MM/DD/YYYY" required>
<!--                <br/>-->
                <input type="submit" id="submit" value="Assess Risks" class="disabled" title="Please fill out the required values" disabled>
              </form>
            </div>
            <div class="row">
              <div id="map"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <p class="lead">Risk Factors</p>
              <div>
                Three major factors that determine the risk for Zika virus are:
                <ol>
                  <li>How many cases of Zika virus have been reported in the area?</li>
                  <li>How populous is the area?</li>
                  <li>Does the area have mosquitoes and if so, is it mosquito season?</li>
                </ol>
              </div>
              <div>
              Mosquito-based transmission of a virus requires that a mosquito bites a newly-infected person (who still has the virus in their blood) and that the same mosquito lives long enough to bite another person.
              </div>
              <div class="modal spinner"></div>
              <div class="row" id="barrow">
                <div class="col-md-6" id="casebox"></div>
                <div class="col-md-6" id="popbox"></div>
              </div>
              <div id="result"></div>
              <div id="chartbox">
                <div id="ladder"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="about">
        <h1>About</h1>
        <p>
        This website combines up-to-date numbers of Zika virus cases in the United States with data on the population and climate of an affected area in order to provide the context necessary to make an informed decision.
        </p>
        
        <p>
        The mosquito suitability model is based on the mosquito species that carry Zika virus (see <a href="http://www.cdc.gov/zika/vector/range.html">CDC website</a> for more information). Mosquitoes that carry other diseases such as West Nile virus are more cold-hardy and can appear further north.
        </p>
        
        <h2>Resources</h2>
        <ul>
          <li>
            <a href="https://www.cdc.gov/zika/">CDC Zika page</a>
          </li>
          <li>
            <a href="http://www.who.int/csr/disease/zika/information-for-travelers/en/">WHO information for travelers visiting Zika affected areas</a>
          </li>
        </ul>

        <h2>Data sources</h2>
        <div class="references">
          <p>
            Centers for Disease Control and Prevention. Zika Cases Reported in the United States. Accessed at <a href="http://www.cdc.gov/zika/intheus/maps-zika-us.html">http://www.cdc.gov/zika/intheus/maps-zika-us.html</a> on <span class="today">10/11/16</span>.</p>
          <p>
            Centers for Disease Control and Prevention, National Center for Health Statistics. Compressed Mortality File 1999-2014 on CDC WONDER Online Database, released December 2015. Data are from the Compressed Mortality File 1999-2014 Series 20 No. 2T, 2015, as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed at <a href="http://wonder.cdc.gov/cmf-icd10.html">http://wonder.cdc.gov/cmf-icd10.html</a> on 10/01/2016.</p>
          <p>
            National Oceanographic and Atmospheric Administration, National Centers for Environmental Information. Climate Normals Monthly. Accessed at <a href="http://www.ncdc.noaa.gov/cdo-web/webservices/v2">http://www.ncdc.noaa.gov/cdo-web/webservices/v2</a> on <span class="today">10/11/16</span>.</p>
          <p>
            United States Census Bureau. American Community Survey 1-Year Data (2015), released September 2016. Accessed at <a href="http://www.census.gov/data/developers/data-sets/acs-1yr.html">http://www.census.gov/data/developers/data-sets/acs-1yr.html</a> on <span class="today">10/11/16</span>.</p>
        </div>
        <h2>References</h2>
        <div class="references">
          <p>Chen, S., Blanford, J. I., Fleischer, S. J., Hutchinson, M., Saunders, M. C., &amp; Thomas, M. B. (2013). Estimating West Nile Virus transmission period in Pennsylvania using an optimized degree-day model. Vector Borne and Zoonotic Diseases, 13(7), 489–497. <a href="http://doi.org/10.1089/vbz.2012.1094">http://doi.org/10.1089/vbz.2012.1094</a></p>
          <p>Waldock, J., Chandra, N. L., Lelieveld, J., Proestos, Y., Michael, E., Christophides, G., &amp; Parham, P. E. (2013). The role of environmental variables on Aedes albopictus biology and chikungunya epidemiology. Pathogens and Global Health, 107(5), 224–241. <a href="http://doi.org/10.1179/2047773213Y.0000000100">http://doi.org/10.1179/2047773213Y.0000000100</a></p>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane fade" id="contact">
        <h1>Contact</h1>
        <!--[ REDACTED ]-->
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <span class="text-muted">
      Information provided on this page is not intended as a substitute for medical advice.
      </span>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDadi4nI9R8BtPsLjB8Lh31jB8kZ60hde0&libraries=places"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Tangle -->
  <script type="text/javascript" src="static/Tangle.js"></script>

  <!-- TangleKit (optional) -->
  <script type="text/javascript" src="static/mootools.js"></script>
  <script type="text/javascript" src="static/sprintf.js"></script>
  <script type="text/javascript" src="static/BVTouchable.js"></script>
  <script type="text/javascript" src="static/TangleKit.js"></script>

  <script type="text/javascript" src="static/script.js"></script>

</body>

</html>